@media(max-width:768px ) {

  

    .form-styles{
        flex-direction: column !important;
       

    }

    #div{
        width:100% !important;
    }

  
    .total{
        margin-top: 0px !important;
    }



}
@media(max-width: 992px  ) {

   

    .btn2{
        display: block !important;
    }

    .total{
        margin-top: -50px;
    }

   

    #form-nome{
        flex-direction: column !important;
       
    }

    #div{
        width:60%;
    }



   
      
}


@media (min-width: 992px) and (max-width: 1880px) { 
    .itens{
        margin-top: -40%;
    }
    .btn1{
        margin-top: -30%;
    }

    .form-styles{
        flex-direction: row ;

    }

    
 }

/* input:invalid{
    border-color: red;
} */

.form-style{
    flex-direction: row !important;
    justify-content: space-between !important;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.btn-style{
    width: 200px;
    height: 50px;
}

.img-style{
    border: #00000020 solid 1px;
}




input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: rgba(255, 255, 255, 0.6) ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}




.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}