@media(max-width:768px ) {

  

    .form-styles{
        flex-direction: column !important;
       

    }

    #div{
        width:100% !important;
    }

  
    .total{
        margin-top: 0px !important;
    }



}
@media(max-width: 992px  ) {

   

    .btn2{
        display: block !important;
    }

    .total{
        margin-top: -50px;
    }

   

    #form-nome{
        flex-direction: column !important;
       
    }

    #div{
        width:60%;
    }



   
      
}


@media (min-width: 992px) and (max-width: 1880px) { 
    .itens{
        margin-top: -40%;
    }
    .btn1{
        margin-top: -30%;
    }

    .form-styles{
        flex-direction: row ;

    }

    
 }

input:invalid{
    border-color: red;
}

.form-style{
    flex-direction: row !important;
    justify-content: space-between !important;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.btn-style{
    width: 200px;
    height: 50px;
}

.img-style{
    border: #00000020 solid 1px;
}


